<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <link rel="stylesheet" href="./template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
            <div class="p1">
            <center>
                <h1 id="h1">Sign in</h1>
              <a href="" class="b1"><img src="./images/facebook.png" alt="error"></a>
             
              <a href="" class="b1"><img src="./images/g+.png" alt="error" ></a>
              <a href="" class="b1"><img src="./images/linkedin.png" alt="error" ></a> 
              <p>or use your account</p>
              <form action="" method="post">
                <input type="Email" name="email" id="email" placeholder="Email"><br>
                <input type="Password" name="password" placeholder="Password">
                 <p><a href="">Forgot your password?</a></p>
                 <button id="b2">SIGN IN</button>
              </form>
            </center>
        </div>
        <div class="p2">
            <center>
                <h1 class="head2">Hello, Friend!</h1>
                <div class="par">Enter your personal details and start <br> journey with us</div>
                <button id="b3">SIGN UP</button>
            </center>
        </div>
       
    </div>
   
</body>
</html>